.jumbotron{
	background-color: green;
	color: white;
	margin-top: 50px;
}

.card-producto{
	flex: 1 150px;
	padding: 2px 5px 2px 5px
}

.btn-cotizar{
	width: 100%;
	left: 0;
}

footer{
	background-color: white;
}